{% extends "main.html" %}
{% load static %}
{% block title %}
Games
{% endblock %}
{% block content %}
{% for game in games %}
<a href="http://{{request.get_host}}/game/{{game.id}}" class="game-card p-4 mb-2 rounded-md bg-slate-200 block" >
    {% if forloop.counter0 == 0 %}
    <!-- Prochain match -->
    <p class="text-2xl">{{game.game_title}}</p>
    <p class="text-base text-slate-500">{{game.game_date|date:"l d F Y"}} - {{game.game_time}}</p>
    <p class="text-base text-slate-500">{{game.game_place}}</p>
    {% for i,q in present_for_game.items %}
    {% if i == game.id %}
    <span>{{q}} présents</span>
    {% endif %}
    {% endfor %}
    {% for i,q in absent_for_game.items %}
    {% if i == game.id %}
    <span>{{q}} absents</span>
    {% endif %}
    {% endfor %}
    {% else %}
    <!-- matchs suivants -->
    <span class="text-base">{{game.game_title}}</span>
    <span class="text-sm text-slate-500">{{game.game_date|date:"l d F Y"}} - {{game.game_time}}</span>
    <span class="text-sm text-slate-500">{{game.game_place}}</span>
    {% for i,q in present_for_game.items %}
    {% if i == game.id %}
    <span>{{q}} présents</span>
    {% endif %}
    {% endfor %}
    {% for i,q in absent_for_game.items %}
    {% if i == game.id %}
    <span>{{q}} absents</span>
    {% endif %}
    {% endfor %}
    {% endif %}
</a>
{% endfor %}
{% endblock %}
