{% extends "main.html" %}
{% load static %}
{% block title %}
Games
{% endblock %}
{% block content %}
<div class="game mb-4" href="#">
    <p class="text-3xl pb-1">{{game.game_title}}</p>
    <p class="text-base text-slate-500">{{game.game_date}}</p>
    <p class="text-base">{{game.game_score}}</p>
</div>
<div class="stats flex flex-row">
    <div class="flex flex-col mb-4 p-6 bg-slate-50 rounded-md">
    <div class="font-bold">Buteurs</div>
    <div class="flex flex-col">
        {% for striker in game.game_goals %}
        {% for i, player in players_list.items %}
        {% if i == striker %}
        <div>{{player}}</div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="flex flex-col mb-4 p-6 bg-slate-50 rounded-md">
    <div class="font-bold">Passeurs</div>
    <div class="flex flex-col">
        {% for assist in game.game_assists %}
        {% for i, player in players_list.items %}
        {% if i == assist %}
        <div>{{player}}</div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
</div>
<div class="poll">
    <div class="flex flex-wrap">
        {% for id, player in players_list.items %}
        {% if id in players_poll_done %}
        <div class="player p-3 bg-green-100 border border-green-300">
            {% else %}
            <div class="player p-3 bg-slate-100">
                {% endif %}
                <div class="meta">{{player}} </div>
                <div class="actions flex flex-row">
                    <a class="button" href="http://{{request.get_host}}/poll_answer/{{game.game_poll_id}}?player={{id}}&poll={{game.game_poll_id}}&game={{game.id}}&status=present">Présent</a> 
                    <a class="button" href="http://{{request.get_host}}/poll_answer/{{game.game_poll_id}}?player={{id}}&poll={{game.game_poll_id}}&game={{game.id}}&status=absent">Absent</a> 
                    <a class="button" href="http://{{request.get_host}}/poll_answer/{{game.game_poll_id}}?player={{id}}&poll={{game.game_poll_id}}&game={{game.id}}&status=audience">Staff</a> 
                </div> 
                <div class="actions_stat flex flex-col">
                    <div class="">
                        <p class="">But</p>
                        <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_goals&method=add">+</a> 
                        <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_goals&method=remove">-</a> 
                    </div>
                    <div class="">
                        <p class="">Passe décisive</p>
                        <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_assists&method=add">+</a> 
                        <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_assists&method=remove">-</a> 
                    </div>
                    <div class="">
                        <div class="">
                            <p class="">Carton rouge</p>
                            <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_redcards&method=add">+</a> 
                            <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_redcards&method=remove">-</a> 
                        </div>
                        <p class="">Carton jaune</p>
                        <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_yellowcards&method=add">+</a> 
                        <a class="button" href="http://{{request.get_host}}/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_yellowcards&method=remove">-</a> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="flex">
            <div class="bg-slate-200 rounded-md p-4">
                <div class="title pb-4">Joueurs présents</div>
                <div class="content">
                    {% for id, player in poll_present.items %}
                    <div class="">{{player}}</div> 
                    {% endfor %}
                </div>
            </div>
            <div class="bg-slate-200 rounded-md p-4">
                <div class="title pb-4">Joueurs absents</div>
                <div class="content">
                    {% for id, player in poll_absent.items %}
                    <div class="">{{player}}</div> 
                    {% endfor %}
                </div>
            </div>
            <div class="bg-slate-200 rounded-md p-4">
                <div class="title pb-4">Staff</div>
                <div class="content">
                    {% for id, player in poll_audience.items %}
                    <div class="">{{player}}</div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
