{% extends "main.html" %}
{% load l10n %}
{% load static %}
{% block title %}
{{game.game_title}} - {{game.game_date}}
{% endblock %}
{% block content %}

<a class="flex flex-row gap-x-2 mb-4" href="/games"><img src="{% static 'assets/icons/arrow_back_dark.svg' %}" class="mr-1 h-6 w-6" />Retour</a>
<div class="game flex flex-col ">
    <div class="infos rounded-md bg-slate-800 text-white p-6 mb-4">
        <div class="datetime justify-center flex flex-col tablet:flex-row mb-4">
            <p class="text-base mr-2 flex flex-row text-slate-400"><img src="{% static 'assets/icons/clock.svg' %}" class="mr-1 h-6 w-6" /> {{game.game_date|date:"l d F Y"}} - {{game.game_time}}</p>
            <p class="text-base flex flex-row text-slate-400"><img src="{% static 'assets/icons/location.svg' %}" class="mr-1 h-6 w-6" />{{game.game_ground.name}}</p>
        </div>
        <div class="title mb-4 flex flex-row items-center">
            <div class="team-home text-xl tablet:text-2xl text-right grow">{{game.game_team_home}}</div>
            {% if status == 'played' %}
            <div class="score mx-4 text-3xl tablet:text-5xl w-fit flex-none">{{game.game_score}}</div>
            {% elif status == 'planned' %}
            <div class="tag bg-green-600 w-fit flex-none mx-4">À venir</div>
            {% elif status == 'delayed' %}
            <div class="tag bg-amber-700 w-fit flex-none mx-4">Reporté</div>
            {% endif %}

            <div class="team-away text-xl tablet:text-2xl text-left grow">{{game.game_team_away}}</div>
        </div>
        <div class="status flex flex-row justify-center mb-4">
            {% if status == 'played' %}
            <div class="tag bg-slate-950">Terminé</div>
            {% endif %}
        </div>
        {% if status == 'played' %}
        <div class="stats flex flex-col">
            <div class="goals-assists flex flex-row justify-center mb-6">
                <div class="goals w-1/2 tablet:w-1/4">
                    <div class="flex flex-row title mb-3 gap-x-2"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" />Buteurs <div class="tag bg-slate-900">{{game.goals_for}}</div> </div>
                    <div class="">
                        {% for striker in game_goals %}
                        {% for i, player in players_list_full.items %}
                        {% if i == striker %}
                        <p>{{player}}</p>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="assists w-1/2 tablet:w-1/4">
                    <div class="flex flex-row title mb-3 pl-7 gap-x-2"><img src="{% static 'assets/icons/handshake_white.svg' %}" class="h-6 w-6" />Passeurs</div>
                    <div class="">
                        {% for assist in game_assists %}
                        {% for i, player in players_list_full.items %}
                        {% if i == assist %}
                        <p class="flex flex-row"><img src="{% static 'assets/icons/arrow-left_white.svg' %}" class="h-6 w-6 mr-2" />{{player}}</p>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cards flex justify-center">
                <div class="w-1/2">
                    {% for yellowcard in game_yellowcards %}
                    {% for i, player in players_list_full.items %}
                    {% if i == yellowcard %}
                    <p class="flex flex-row gap-x-2"><img src="{% static 'assets/icons/yellow_card.svg' %}" class="h-6 w-6" />{{player}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% for redcard in game_redcards %}
                    {% for i, player in players_list_full.items %}
                    {% if i == redcard %}
                    <p class="flex flex-row gap-x-2"><img src="{% static 'assets/icons/red_card.svg' %}" class="h-6 w-6" />{{player}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="map mb-4 rounded-md">
        <!-- <iframe width="100%" height="320" src="https://www.openstreetmap.org/export/embed.html?bbox=-4.119164943695069%2C48.02041497133033%2C-4.074082374572755%2C48.0371613875379&amp;layer=mapnik&amp;marker=48.02879603461277%2C-4.096634387969971"></iframe> -->
        <iframe width="100%" height="320" src="https://www.openstreetmap.org/export/embed.html?bbox={{game_ground_bbox.0|unlocalize}},{{game_ground_bbox.1|unlocalize}},{{game_ground_bbox.2|unlocalize}},{{game_ground_bbox.3|unlocalize}}&layer=mapnik&marker={{game_ground_location.0|unlocalize}},{{game_ground_location.1|unlocalize}}"></iframe>
    </div>
    <div class="col flex flex-col-reverse tablet:flex-row gap-4"> 
        <div class="convocation-list w-full tablet:w-6/12 flex flex-col gap-y-2">

            {% for id, player in players_list.items %}
            <div class="player {% if id in players_poll_done %} answer-ok {% else %} answer-none {% endif %} flex flex-col bg-white rounded-md">
                <div class="answer--main flex flex-row items-center p-3">
                    <div class="flex grow items-center gap-x-2">{% if id in players_poll_done %}<img src="{% static 'assets/icons/check_color_sm.svg' %}" class="h-4 w-4" /> {% endif %}{{player}}</div>
                    <div class="actions flex flex-row w-fit items-center grow-0">
                        <a href="/poll_answer/{{game.game_poll_id}}?player={{id}}&poll={{game.game_poll_id}}&game={{game.id}}&auth_process=True&auth_valid=False&player_status=present" class="action--answer present"><img src="{% static 'assets/icons/person_color.svg' %}" class="h-6 w-6" /></a>
                        <a href="/poll_answer/{{game.game_poll_id}}?player={{id}}&poll={{game.game_poll_id}}&game={{game.id}}&auth_process=True&auth_valid=False&player_status=absent" class="action--answer absent"><img src="{% static 'assets/icons/person_off_color.svg' %}" class="h-6 w-6" /></a>
                        <a href="/poll_answer/{{game.game_poll_id}}?player={{id}}&poll={{game.game_poll_id}}&game={{game.id}}&auth_process=True&auth_valid=False&player_status=audience" class="action--answer staff"><img src="{% static 'assets/icons/person_pin_color.svg' %}" class="h-6 w-6" /></a>
                    </div>
                </div>
                {% if is_admin %}
                <div class="actions-stats flex flex-row {% if id in players_poll_done %} bg-lime-50 {% else %} bg-gray-50 {% endif %} gap-x-6 p-3">
                    <div class="actions-stats--goals flex flex-row gap-x-1">
                        <div class=""><img src="{% static 'assets/icons/sports_soccer_color.svg' %}" class="h-6 w-6" /></div>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_goals&method=add" class="action-stats--add"><img src="{% static 'assets/icons/add_circle_dark.svg' %}" class="h-6 w-6" /></a>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_goals&method=remove" class="action-stats--add" class="action-stats--remove"><img src="{% static 'assets/icons/remove_circle_dark.svg' %}" class="h-6 w-6" /></a>
                    </div>
                    <div class="actions-stats--goals flex flex-row gap-x-1">
                        <div class=""><img src="{% static 'assets/icons/handshake_color.svg' %}" class="h-6 w-6" /></div>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_assists&method=add" class="action-stats--add" class="action-stats--add"><img src="{% static 'assets/icons/add_circle_dark.svg' %}" class="h-6 w-6" /></a>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_assists&method=remove" class="action-stats--add" class="action-stats--remove"><img src="{% static 'assets/icons/remove_circle_dark.svg' %}" class="h-6 w-6" /></a>
                    </div>
                    <div class="actions-stats--goals flex flex-row gap-x-1">
                        <div class=""><img src="{% static 'assets/icons/yellow_card.svg' %}" class="h-6 w-6" /></div>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_yellowcards&method=add" class="action-stats--add" class="action-stats--add"><img src="{% static 'assets/icons/add_circle_dark.svg' %}" class="h-6 w-6" /></a>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_yellowcards&method=remove" class="action-stats--add" class="action-stats--remove"><img src="{% static 'assets/icons/remove_circle_dark.svg' %}" class="h-6 w-6" /></a>
                    </div>
                    <div class="actions-stats--goals flex flex-row gap-x-1">
                        <div class=""><img src="{% static 'assets/icons/red_card.svg' %}" class="h-6 w-6" /></div>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_redcards&method=add" class="action-stats--add" class="action-stats--add"><img src="{% static 'assets/icons/add_circle_dark.svg' %}" class="h-6 w-6" /></a>
                        <a href="/game/{{game.id}}/update_game_stats/?player={{id}}&game={{game.id}}&field=game_redcards&method=remove" class="action-stats--add" class="action-stats--remove"><img src="{% static 'assets/icons/remove_circle_dark.svg' %}" class="h-6 w-6" /></a>
                    </div>
                </div>
                {% endif %}
            </div> 

            {% endfor %}
        </div>
        <div class="col w-full tablet:w-6/12 flex flex-col laptop:flex-row gap-x-4 gap-y-4">
            <div class="col w-full laptop:w-1/2">
                <div class="answers-present card">
                    <div class="flex flex-row title mb-3 place-content-between">
                        <div class="flex flex-row title mb-3 font-bold text-slate-500">Présents</div>
                        <div class="compteur"><div class="tag bg-green-600">{{present_for_game}}</div></div>
                    </div>
                    <div class="">
                        {% for id, player in poll_present.items %}
                        <div class="flex flex-row gap-x-1"><img src="{% static 'assets/icons/person_color.svg' %}" class="h-6 w-6" />{{player}}</div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col w-full laptop:w-1/2 flex flex-col gap-y-4">
                <div class="answers-absent card">
                    <div class="flex flex-row title mb-3 place-content-between">
                        <div class="flex flex-row title mb-3 font-bold text-slate-500">Absents</div>
                        <div class="compteur"><div class="tag bg-red-400">{{absent_for_game}}</div></div>
                    </div>
                    <div class="">
                        {% for id, player in poll_absent.items %}
                        <div class="flex flex-row gap-x-1"><img src="{% static 'assets/icons/person_off_color.svg' %}" class="h-6 w-6" />{{player}}</div> 
                        {% endfor %}
                    </div>
                </div>
                <div class="answers-staff card">
                    <div class="flex flex-row title mb-3 place-content-between">
                        <div class="flex flex-row title mb-3 font-bold text-slate-500">Staff/spectateur</div>
                        <div class="compteur"><div class="tag bg-cyan-600">{{staff_for_game}}</div></div>
                    </div>
                    <div class="">
                        {% for id, player in poll_audience.items %}
                        <div class="flex flex-row gap-x-1"><img src="{% static 'assets/icons/person_pin_color.svg' %}" class="h-6 w-6" />{{player}}</div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if auth_process == 'True' %}
<div class="w-full h-full bg-black/80 fixed top-0 left-0 z-999 flex justify-center items-center">
    <div class="p-6 bg-white w-fit h-fit flex flex-col rounded-md">
        <p class="">Mot de passe</p>
        <p class="mb-4 text-sm text-gray-400">Le mot de passe est nécessaire pour mettre à jour sa présence</p>
        <form action="/poll_answer/{{game.game_poll_id}}?player={{player_id}}&poll={{game.game_poll_id}}&game={{game.id}}&auth_process=True&player_status={{player_status}}" method="post" class="flex flex-col">
            {% csrf_token %}
            {{form}}
            <label><input type="text" name="password" id="password" value="{{tags_list_for_edit}}" class="rounded px-2 py-1 mb-4 border-gray-200 border w-full"></label>
            <div class="flex flex-row">
                <input type="submit" value="Valider" class="button submit w-fit"/>
                <a class="button" href="/game/{{game.id}}">Annuler<a/>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% if auth_valid == 'True' %}
    <div class="p-4 bg-white w-fit flex">
        <p>Présence validée</p>
    </div>
{% endif %}

{% endblock %}




