{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        <div class="container mx-auto pt-4">
            <div class="menu mb-4">
                <ul class="flex flex-row">
                    <li><a href="http://{{request.get_host}}/games" class="px-2">Matchs à venir</a></li>
                    <li><a href="http://{{request.get_host}}/results" class="px-2">Résultats</a></li>
                    <li><a href="http://{{request.get_host}}/stats" class="px-2">Stats</a></li>
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
