{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        {% if is_admin %}
        <div class="w-screen bg-yellow-300 text-center py-2 text-sm">Connecté en tant qu'administrateur</div>
             {% endif %}
        <div class="w-screen flex flex-row bg-slate-100">
            <!-- dekstop menu -->
            <div class="menu mb-4 bg-slate-900 hidden tablet:block w-16 h-screen fixed top-0 left-0">
                <ul class="flex flex-col">
                    <li><a href="/" class="p-4 block"><img src="{% static 'assets/icons/home_white.svg' %}"/></a></li>
                    <li><a href="/games" class="p-4 block"><img src="{% static 'assets/icons/calendar_month.svg' %}"/></a></li>
                    <li><a href="/results" class="p-4 block"><img src="{% static 'assets/icons/emoji_events.svg' %}"/></a></li>
                    <li><a href="/stats" class="p-4 block"><img src="{% static 'assets/icons/bar_chart.svg' %}"/></a></li>
                </ul>
            </div>
            <!-- mobile menu -->
            <div class="menu bg-white block tablet:hidden h-fit w-screen fixed bottom-0 border-t border-gray-200">
                <ul class="flex flex-row items-center w-fit mx-auto">
                    <li><a href="/" class="p-4 block flex flex-col items-center my-1"><img src="{% static 'assets/icons/home_dark.svg' %}" class="mb-1" />Accueil</a></li>
                    <li><a href="/games" class="p-4 block flex flex-col items-center my-1"><img src="{% static 'assets/icons/calendar_month_dark.svg' %}" class="mb-1" />Matchs à venir</a></li>
                    <li><a href="/results" class="p-4 block flex flex-col items-center my-1"><img src="{% static 'assets/icons/emoji_events_dark.svg' %}"/>Résultats</a></li>
                    <li><a href="/stats" class="p-4 block flex flex-col items-center my-1"><img src="{% static 'assets/icons/bar_chart_dark.svg' %}"/>Statistiques</a></li>
                </ul>
            </div>
            <div class="pl-0 tablet:pl-16 w-screen">
                <div class="container py-8 px-2 mx-auto mb-24 tablet:mb-0">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
