{% extends "main.html" %}
{% load static %}
{% block title %}
Games
{% endblock %}
{% block content %}
<div class="text-md">Buteurs</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Buts</div>
        </div>
    </div>
    {% for id, striker in strikers.items %}
    {% if striker.goals > 0 %}
    <div class="table-row-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">

                {% for player in players %}
                {% if id == player.id %}
                {{player.first_name}} {{player.second_name}}
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell text-left p-3">{{striker.goals}}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="text-md">Passeurs</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Passes décisives</div>
        </div>
    </div>
    {% for id, passer in passers.items %}
    {% if passer.assists > 0 %}
    <div class="table-row-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">

                {% for player in players %}
                {% if id == player.id %}
                {{player.first_name}} {{player.second_name}}
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell text-left p-3">{{passer.assists}}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="stats flex flex-row">
    <div class="stat flex flex-col">
        <p class="text-sm">Totals de buts inscrits</p>
        <p class="text-xl">{{total_competition_goals_for}}</p>
    </div>
    <div class="stat flex flex-col">
        <p class="text-sm">Totals de buts encaissés</p>
        <p class="text-xl">{{total_competition_goals_against}}</p>
    </div>
    <div class="stat flex flex-col">
        <p class="text-sm">Totals de matchs joués</p>
        <p class="text-xl">{{total_competition_games}}</p>
    </div>

    <div class="stat flex flex-col">
        <p class="text-sm">Moyenne de buts marqués</p>
        <p class="text-xl">{{ratio_competition_for}}</p>
    </div>
    <div class="stat flex flex-col">
        <p class="text-sm">Moyenne de buts encaissés</p>
        <p class="text-xl">{{ratio_competition_against}}</p>
    </div>
</div>
{% endblock %}
