{% extends "main.html" %}
{% load static %}
{% block title %}
Games
{% endblock %}
{% block content %}
<div class="flex flex-row gap-x-2 text-slate-900 mb-4 text-xl font-bold items-center"><img src="{% static 'assets/icons/bar_chart_dark.svg' %}" class="h-6 w-6" />Statistiques</div>
<div class="flex flex-col gap-y-4 ">
<div class="stats flex flex-row gap-x-2 gap-y-2 flex-wrap">
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-emerald-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Totals de buts inscrits</p>
            <p class="text-3xl">{{stats.total_competition_goals_for}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-amber-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Totals de buts encaissés</p>
            <p class="text-3xl">{{stats.total_competition_goals_against}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-emerald-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Moyenne de buts inscrits</p>
            <p class="text-3xl">{{stats.ratio_competition_for}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-amber-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Moyenne de buts encaissés</p>
            <p class="text-3xl">{{stats.ratio_competition_against}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-gray-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Nombre de matchs joués</p>
            <p class="text-3xl">{{stats.total_competition_games}}</p>
        </div>
    </div>
</div>
<div class="flex flex-col gap-y-4 tablet:flex-row gap-x-4">

<div class="rounded-md truncate border border-slate-200 grow">
    <div class="flex flex-row gap-x-2 px-4 py-3 bg-white text-slate-400"><img src="{% static 'assets/icons/sports_soccer_dark.svg' %}" class="h-6 w-6" />Buteurs</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Buts</div>
        </div>
    </div>
    {% for id, striker in strikers.items %}
    {% if striker.goals > 0 %}
    <div class="table-row-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">

                {% for player in players %}
                {% if id == player.id %}
                {{player.first_name}} {{player.second_name}}
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell text-left p-3">{{striker.goals}}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>


<div class="rounded-md truncate border border-slate-200 grow">
<div class="flex flex-row gap-x-2 px-4 py-3 bg-white text-slate-400"><img src="{% static 'assets/icons/handshake_dark.svg' %}" class="h-6 w-6" />Passeurs</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Passes décisives</div>
        </div>
    </div>
    {% for id, passer in passers.items %}
    {% if passer.assists > 0 %}
    <div class="table-row-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">

                {% for player in players %}
                {% if id == player.id %}
                {{player.first_name}} {{player.second_name}}
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell text-left p-3">{{passer.assists}}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>

</div>

{% if is_admin %}
<div class="w-full">
<div class="rounded-md truncate border border-slate-200 grow">
<div class="flex flex-row gap-x-2 px-4 py-3 bg-white text-slate-400"><img src="{% static 'assets/icons/bar_chart_dark.svg' %}" class="h-6 w-6" />Statistiques complètes</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Passes décisives</div>
        </div>
    </div>
    <div class="table-row-group">
        {% for stat, value in stats.items %}
        <div class="table-row">
            <div class="table-cell text-left p-3">
                {{stat}}
            </div>
            <div class="table-cell text-left p-3">{{value}}</div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
{% endif %}


</div>




{% endblock %}
