{% extends "main.html" %}
{% load static %}
{% block title %}
Games
{% endblock %}
{% block content %}
<div class="flex flex-row gap-x-2 text-slate-900 mb-4 text-xl font-bold items-center"><img src="{% static 'assets/icons/bar_chart_dark.svg' %}" class="h-6 w-6" />Statistiques</div>
<!-- dropdown sélection saison -->
<div class="relative inline-block text-left">
  <div>
    <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
        Saison
      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  <div class="absolute left-0 z-10 mt-2 w-56 origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        {% for season in seasons_list %}
      <a href="?display_season={{season}}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">{{season}}</a>
      {% endfor %}
    </div>
  </div>
</div>
<!-- dropdown sélection saison -->
<div class="h-4"></div>
<div class="flex flex-col gap-y-4 ">
<div class="stats flex flex-row gap-x-2 gap-y-2 flex-wrap">
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-emerald-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Totals de buts inscrits</p>
            <p class="text-3xl">{{stats.total_competition_goals_for}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-amber-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Totals de buts encaissés</p>
            <p class="text-3xl">{{stats.total_competition_goals_against}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-emerald-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Moyenne de buts inscrits</p>
            <p class="text-3xl">{{stats.ratio_competition_for}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-amber-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Moyenne de buts encaissés</p>
            <p class="text-3xl">{{stats.ratio_competition_against}}</p>
        </div>
    </div>
    <div class="stat flex flex-row items-center gap-x-4 p-3 bg-gray-600 text-white rounded-md w-48 h-fit">
        <div class="stat--icon flex-none opacity-70"><img src="{% static 'assets/icons/sports_soccer_white.svg' %}" class="h-6 w-6" /></div>
        <div class="flex flex-col gap-y-2">
            <p class="text-md opacity-70">Nombre de matchs joués</p>
            <p class="text-3xl">{{stats.total_competition_games}}</p>
        </div>
    </div>
</div>
<div class="flex flex-col gap-y-4 tablet:flex-row gap-x-4">

<div class="rounded-md truncate border border-slate-200 grow">
    <div class="flex flex-row gap-x-2 px-4 py-3 bg-white text-slate-400"><img src="{% static 'assets/icons/sports_soccer_dark.svg' %}" class="h-6 w-6" />Buteurs</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Buts</div>
        </div>
    </div>
    {% for id, striker in strikers.items %}
    {% if striker.goals > 0 %}
    <div class="table-row-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">

                {% for player in players %}
                {% if id == player.id %}
                {{player.first_name}} {{player.second_name}}
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell text-left p-3">{{striker.goals}}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>


<div class="rounded-md truncate border border-slate-200 grow">
<div class="flex flex-row gap-x-2 px-4 py-3 bg-white text-slate-400"><img src="{% static 'assets/icons/handshake_dark.svg' %}" class="h-6 w-6" />Passeurs</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Passes décisives</div>
        </div>
    </div>
    {% for id, passer in passers.items %}
    {% if passer.assists > 0 %}
    <div class="table-row-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">

                {% for player in players %}
                {% if id == player.id %}
                {{player.first_name}} {{player.second_name}}
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell text-left p-3">{{passer.assists}}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>

</div>

{% if is_admin %}
<div class="w-full">
<div class="rounded-md truncate border border-slate-200 grow">
<div class="flex flex-row gap-x-2 px-4 py-3 bg-white text-slate-400"><img src="{% static 'assets/icons/bar_chart_dark.svg' %}" class="h-6 w-6" />Statistiques complètes</div>
<div class="table">
    <div class="table-header-group">
        <div class="table-row">
            <div class="table-cell text-left p-3">Joueur</div>
            <div class="table-cell text-left p-3">Passes décisives</div>
        </div>
    </div>
    <div class="table-row-group">
        {% for stat, value in stats.items %}
        <div class="table-row">
            <div class="table-cell text-left p-3">
                {{stat}}
            </div>
            <div class="table-cell text-left p-3">{{value}}</div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
{% endif %}


</div>




{% endblock %}
